@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EFF1F3
}
ul {
    margin-bottom: 0;
    padding-left: 0;
    li {
    list-style: none;
    }
}
a {
    text-decoration: none;
    color: #000;
}
p {
    margin-bottom: 0;
}
.p-70 {
    padding: 70px 0;
}
.bg-light {
    background-color: #EFF1F3 !important;
}
@import "./parciales/mediaQueries";
@import "./parciales/line";
@import "./parciales/iconLoading";
@import "./parciales/cart";
@import "./parciales/header";
@import "./parciales/main";
@import "./parciales/items";
@import "./parciales/itemDetail";
