@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin-bottom: 0;
    padding-left: 0;
    li {
    list-style: none;
    }
}
a {
    text-decoration: none
}
p {
    margin-bottom: 0;
}
@import "./parciales/cart";
@import "./parciales/header";
@import "./parciales/main";
@import "./parciales/items";
