.f-direction {
    flex-direction: column;
}

.input__full-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(230, 230, 230);

    h2 {
        text-align: center;
    }
}

.input-container {
    position: relative;
    width: 100%;

    .input {
        padding: 10px;
        border: none;
        border-radius: 4px;
        font: inherit;
        color: #000;
        background-color: transparent;
        outline: 2px solid #fff;
        width: 100%;
    }
    
    .input-label {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 15px;
        transform: translate(10px, 10px);
        transition: transform .25s;
        color: #696969;
    }

    .input:focus+.input-label,
    .input:valid+.input-label {
        transform:
        translate(10px, -14px) scale(.8);
        color: #b09e80;
        padding-inline: 5px;
        background-color: rgb(230, 230, 230);
    }
    .input:is(:focus, :valid) {
        outline-color: #b09e80;
    }
}
.checkout__items {
    max-height: 440px;
    overflow: auto;
    
    &-card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
    }
}

.purchase-successful {
    color: rgb(13, 190, 63);
}

.p-right {
    padding-right: 15px;
}
.p-left {
    padding-left: 15px;
}
.width-50 {
    width: 50%;
}
.p-md {
    padding: 0 15px;
}