@import "./header";

.full__container {
    background: url("https://htmldemo.net/mimosa/mimosa/img/slider/5.jpg") no-repeat scroll center center/cover;

    .main {
    
        h1 {
            color: #b09e80;
        }
        ul li a {
            @extend .header__menu-items;
            text-decoration: none;
        }
    }
}