@media screen and (max-width: 767px) {
    .item__detail {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .cart__container-info, .cart__container-item {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;

        &__redes {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            img {
                margin: 1rem 0 0;
            }
        }

        &__contact {
            margin: 1rem 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 412px) {
    .cart__container-header {
        ul li {
            padding: 0 24px 15px;
        }
    }
    .cart__container-item {
        a {
            text-align: center;
            padding: 10px 0;
        }
        &-price {
            padding: 10px 0;
        }
    }
    
}

@media screen and (max-width: 500px) {
    .form__checkout-mq {
        flex-direction: column;
    }
    .width-50 {
        width: 100% !important;
        margin: 0 0 16px 0;
    }
    .p-md {
        padding: 0 15px 0 0 !important;
    }
}